body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

/*
#status {
    /* avoid an excessively wide status text /
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 400px;
}
*/

.form-group {
    padding: 20px;
    padding-bottom: 0px;
    width: 250px;
}

#save-button {
    padding-left: 20px;
    padding-bottom: 20px;
}

li {
    width: 50%;
    background-color: #D6D6D6;
}

#markList {
    padding: 20px 20px 0px;
    width: 250px;
    display: none;
}

.list-group-item:first-child {
    pointer-events: none;
    font-weight: bold;
}
